@import "../defaults/normalize";
@import "../defaults/links";
@import "../defaults/settings";
@import "../defaults/force-footer";

@import "../modules/fonts";
@import "../modules/colors";

@import "../partials/header";
@import "../partials/footer";
@import "../partials/top-nav";


#new-item-form-wrap{
    form{
        width: 500px;
        margin: 0 auto;
        label{
            margin: 20px 0 5px 0;
        }
        input[type="button"]{
            margin: 10px 0;
        }
    }
}

.items{
    .item{
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
        border-bottom: gray 1px solid;
        
    }
    form{
        width: 500px;
    }
}