{% extends "base.html.twig" %}
{% block content %}   
    <div id="wrapper">
        {% include 'commons/header.html.twig'%}
    <main>
        <div id="social-networks-login" data-ng-controller="socialNetworksCtrl as sn">
            <h2>Login with social networks:</h2>
             <div class="social-login-btns facebook-social-signin-btn" data-ng-click="facebook_login()"><p>Login with facebook</p></div>
            <div class="g-signin2" data-onsuccess="on_sign_in"></div>
            <div data-ng-click="twitter_sign_in()" class="social-login-btns twitter-social-signin-btn"><p>Sign in with Twitter</p></div>            
        </div>        
    </main>
    <div id="push-footer"></div>    
    </div>
{% endblock %}
