{% extends "base.html.twig" %}
{% block content %}   
    <div id="wrapper">
        {% include 'commons/header.html.twig'%}
    <main>     
        <h1>My uin - Feedback left</h1>        
        {% include 'commons/myuin-nav.html.twig'%} 
        <article>
            <p>Thank you for your feedback!</p>
        </article>
        
    </main>
    <div id="push-footer"></div>    
    </div>
{% endblock %}