{% extends "base.html.twig" %}
{% block content %}   
    <div id="wrapper">
        {% include 'commons/header.html.twig'%}
    <main> 
        <div id="restore_form" ng-controller="RequestPasswordCtrl as rp">
            <p>Please provide your registered email address to reset your password:</p>
            {{forms.restore_password| raw}}
            <div class="usr-msg" ng-class="{error: rp.msg.errorFlag}" ng-show="usr_msg"><p ng-class="{error: rp.msg.errorFlag}">{{'{{rp.msg.msg}}'}}</p></div>
        </div>
    </main>
    <div id="push-footer"></div>    
    </div>
{% endblock %}
