{% extends "base.html.twig" %}
{% block content %}   
    <div id="wrapper">
    {% include 'commons/header.html.twig'%}
        <main>
            <article>
                {{data.textManager.terms|raw}}
            </article>
        </main>
        <div id="push-footer"></div>                
    </div>
    {% include 'commons/footer.html.twig'%}
{% endblock %}
