@import "../defaults/normalize";
@import "../defaults/links";
@import "../defaults/settings";
@import "../defaults/force-footer";

@import "../modules/fonts";
@import "../modules/colors";

@import "../partials/header";
@import "../partials/footer";
@import "../partials/profile-nav";

@import "../widgets/login_panel";

.usr-msg {
        width:300px;
        margin: 10px auto;
        padding:10px;
        border: 5px solid $blue;
        border-radius: 20px;
        p {
            font-family: $mainFont;
            margin: 20px; 
            line-height: 1.5;
        }        
}
.usr-msg.error{
    border: 5px solid red;
    p {
        color:red;
    }
}

form{
    margin-top:40px;
        .wrap {
            width:90%;
            margin: 0 auto;
            input[type="text"],input[type="password"]{
                width:300px;height:43px;
                margin: 5px auto;
                padding-left: 1%;
                border:$blue 1px solid;
                display: block;
                clear:both;
            }
            label {
                width:300px;
                padding-left:10px;
                font-family: $mainFont;
                color:$blue;
                font-size:.87em;
                display: block;
                margin:20px auto 5px;
            }
            input[type="image"]{
                width:130px;
                margin: 10px auto;
                display: block;
            }
        }        
}

@media (max-width:360px){
    form{
        margin-top:40px;
            .wrap {
                width:90%;
                margin: 0 auto;
                input[type="text"],input[type="password"]{
                    width:260px;height:43px;
                    margin: 5px auto;
                    padding-left: 1%;
                }
                label {
                    width:260px;
                    padding-left:10px;
                    margin:20px auto 5px;
                }
                input[type="image"]{
                    width:130px;
                    margin: 10px auto;
                    display: block;
                }
            }        
    }
    
    .usr-msg {
            width:240px;                    
    }
}