@import "../defaults/normalize";
@import "../defaults/links";
@import "../defaults/settings";
@import "../defaults/force-footer";

@import "../modules/fonts";
@import "../modules/colors";

@import "../partials/header";
@import "../partials/footer";
@import "../partials/social-logins";

@import "../widgets/login_panel";

.usr-msg {
        width:260px;
        margin: 10px auto;
        padding:10px;
        border: 5px solid white;
        border-radius: 20px;
        p {
            font-family: $mainFont;
            margin: 20px; 
            line-height: 1.5;
            color:white;
        }        
}
.usr-msg.error{
    border: 5px solid lightcoral;
    p {
        color:lightcoral;
    }
}

#signup_form {
    width:100%; 
    background-color:$blue;
    margin-top:7px; padding-bottom:10px;
    form {  
        .wrap {
            width:240px;
            display:inline-block;
            padding: 10px;
            vertical-align:top;
        }
        .wrap.btns {
            display:block;
            clear:both; float:none;
            margin: 0 auto;
        }
        input[type="text"],input[type="email"],input[type="password"]{
            width:214px; height:30px;
            border:none;
            margin:5px 0 15px; 
            padding: 0 3px;
        }
        label {
            font-family: $mainFont; color:white; font-size:.76em;
            font-style: italic; font-weight: bold;
            
        }
        .intl-tel-input input, .intl-tel-input input[type="text"], .intl-tel-input input[type="tel"]{
            margin:10px 0 !important;
            padding-left: 48px;
        }
    }
    h1{
        color:white; font-size:1.2em; text-align: center; 
        font-family: $mainFont; text-transform: uppercase;
        padding: 10px 0;
    }
}

#social-networks-login{
    width:100%; height:100vh;
    position: fixed;
    top: 0; left:0;    
    text-align:center;
    z-index:99;
    .overlay{
        width:100%; height:100vh; 
        background-color:rgba(255,255,255,0.3);
        .wrap{
            width:300px;
            position:absolute;
            z-index: 99;
            left: 50%; top:10%;
            margin-left: -150px;
            background-color: white;
            border-radius: 15px;
            padding: 10px;
        }
        .close{
            width: 30px; height:30px;
            border-radius: 45px;
            background-color: $blue;
            position:absolute;
            top: -15px; right: 20px;
            cursor:pointer;
            p{
                font-size: 1em;
                margin-top:7px;
                color:white;
            }
        }
    }
    h2{
        color:$blue; font-size:1.2em; text-align: center; 
        font-family: $mainFont;
        padding: 10px 0;
        margin-top:20px;
    }
}

@media(max-width:399px){
    #social-networks-login{
        width:100%; height:100vh;
        position: fixed;
        top: 0; left:0;    
        text-align:center;
        z-index:99;
        .overlay{
            width:100%; height:100vh; 
            background-color:rgba(255,255,255,0.3);
            padding-top: 50px;
            .wrap{
                width:80%;
                position:relative;
                z-index: 99;
                left: 0; top:0;
                margin-left: 0; margin: 0 auto;
                background-color: white;
                border-radius: 15px;
                padding: 10px;
            }
            .close{
                width: 45px; height:45px;
                border-radius: 45px;
                background-color: $blue;
                position:absolute;
                top: -15px; right: 20px;
                cursor:pointer;
                p{
                    font-size: 1.3em;
                    margin-top:13px;
                    color:white;
                }
            }
        }
        h2{
            color:$blue; font-size:1.2em; text-align: center; 
            font-family: $mainFont;
            padding: 10px 0;
            margin-top:20px;
        }
    }
}

#additinal_login {
    h2{
        color:$blue; font-size:1.2em; text-align: center; 
        font-family: $mainFont;
        padding: 10px 0;
        margin-top:7px;
    }
    p {
        text-align:center;
    }
    form{        
        .wrap {
            width:280px;
            margin: 0 auto;
            input[type="text"],input[type="password"]{
                width:99%;height:43px;
                margin: 5px auto;
                padding-left: 1%;
                border:$blue 1px solid;
            }
            input[type="checkbox"]{
                -webkit-appearance:checkbox;
                padding-top:25px;
                border:$blue 1px solid;
            }
            label {
                padding-left:10px;
                font-family: $mainFont;
                font-size:.87em;
            }
            input[type="image"]{
                width:130px;
                margin: 10px auto;           
            }
        }        
    }
}
