@import "../defaults/normalize";
@import "../defaults/links";
@import "../defaults/settings";
@import "../defaults/force-footer";

@import "../modules/fonts";
@import "../modules/colors";

@import "../partials/header";
@import "../partials/footer";

@import "../widgets/login_panel";


#restore_form {
    width: 320px;
    margin: 0 auto;
    p {
        font-family: $mainFont;
        margin: 20px; 
        line-height: 1.5;
    }
    .usr-msg {
        width:90%;
        margin: 0 auto;
        border: 5px solid $blue;
        border-radius: 20px;
        p.error {
            color:red;
        }
    }
    .usr-msg.error{
        border: 5px solid red;
    }
    #form__restore_password {
        text-align:center;
        input[type="email"]{
            width:320px; height:30px; 
            padding-top: 5px; padding-left: 5px;            
        }
        input[type="image"]{
            width:130px;
            margin-top: 20px;
        }
    }
}
