<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="http://compwebdesign.com/favIcon.ico" />
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

<style>

</style>
</head>
<body>
        <main>
            <article id="reg-form"> 
                <form method="POST" action="{{constant('CURRENT_PAGE')}}" >
                    <label>username</label>
                    <input type="text" name="username"/><br/>
                    <label>password</label>
                    <input type="text" name="password"/><br/>
                    <input type="submit" name="register" value="register">
                </form>
            </article>
        </main>
</body>

