<a style="color:inherit; text-decoration: none;" href="http://uinteam.com/notifications/"><div style="width: 200px; height:50px; background-color:#3264fa;">
        <p style="font-family: Arial, Helvetica, sans-serif;color: white; text-align:center; padding-top:15px; font-weight: bold;">view on uinteam</p>
    </div></a>