{% include '_header.html.twig'%}
<div id="msg">
    <p style="font-family: Arial, Helvetica, sans-serif;">Dear {{username}},</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">You have a new notification on UINteam.</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">The Asker has confirmed to buy your service.</p>
    {% include '_button.html.twig'%}
    <p style="font-family: Arial, Helvetica, sans-serif;">Kind Regards,</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">UINteam</p>
</div>