{% include '_header.html.twig'%}
<div id="msg">
    <p style="font-family: Arial, Helvetica, sans-serif;">You have a new notification on UINteam.</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">There is a new request from an Asker.</p>
    {% include '_button.html.twig'%}
    <p style="font-family: Arial, Helvetica, sans-serif;">Kind Regards,</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">UINteam</p>
</div>