<div id="newsletterPromt" data-ng-show="showWindowFlag" data-ng-controller="NewslettersPromtCtrl">
    <p>Would you like to sign up to our newsletters?</p>
    <input class="yes" data-ng-click="submit(true)" type="button" value="Yes, please"/>
    <input class="no" data-ng-click="submit(false)" type="button" value="No, thank you"/>
</div>
