/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CUSTOM */
input:required {
  box-shadow: none; }

input:invalid {
  box-shadow: none; }

a.nostyle {
  text-decoration: none;
  color: inherit; }

a.nocolor {
  color: inherit; }

a.nounderline {
  text-decoration: none; }

a.internal {
  border-bottom: 1px dashed;
  text-decoration: none;
  color: #000066;
  cursor: pointer; }

html, body {
  height: 100%; }

#wrapper {
  width: 100%;
  min-height: 100%; }

#push-footer {
  height: 120px; }

footer {
  width: 100%;
  height: 120px;
  margin-top: -120px;
  clear: both;
  float: none; }

p, li, ul, h1, h2, h3, h4, h5, h6 {
  font-family: "ABeeZee", sans-serif; }

header nav {
  width: 100%;
  height: 47px;
  padding-top: 18px; }
  header nav .button {
    float: left; }
  header nav .left.nav-box {
    width: 75px;
    float: left; }
    header nav .left.nav-box #btn_home {
      width: 35px;
      height: 35px;
      background: url("../../img/css/home-bg.png") no-repeat center center;
      background-color: #3264fa;
      padding: 5px;
      margin-left: 28px; }
  header nav .updates-wrap.nav-box {
    width: 100px;
    float: right; }
    header nav .updates-wrap.nav-box #ico_new-notofications {
      width: 45px;
      height: 35px;
      background: url("../../img/css/notifications-off.png") no-repeat 5px center;
      display: inline-block;
      margin-top: 10px; }
    header nav .updates-wrap.nav-box #ico_new-mail {
      width: 45px;
      height: 35px;
      background: url("../../img/css/mail-off.png") no-repeat 5px center;
      display: inline-block;
      margin-top: 10px; }
    header nav .updates-wrap.nav-box p {
      width: 70%;
      padding: 2px;
      background-color: #fb7b4e;
      font-family: "ABeeZee", sans-serif;
      font-size: .76em;
      border-radius: 5px;
      text-align: right;
      font-weight: bold; }
    header nav .updates-wrap.nav-box p.none {
      background-color: lightgray; }
  header nav .right.nav-box {
    width: 280px;
    float: right; }
    header nav .right.nav-box #btn_signup {
      width: 113px;
      height: 45px;
      background-color: #3264fa;
      margin-right: 10px; }
      header nav .right.nav-box #btn_signup p {
        color: white;
        text-align: center;
        margin-top: 15px; }
    header nav .right.nav-box #btn_myuin {
      width: 113px;
      height: 45px;
      margin-right: 10px;
      background: url("../../img/css/myuin.png") no-repeat 5px center;
      background-color: #3264fa; }
      header nav .right.nav-box #btn_myuin p {
        color: white;
        text-align: center;
        margin-top: 15px; }
    header nav .right.nav-box #btn_login {
      width: 111px;
      height: 43px;
      border: #3264fa 1px solid;
      cursor: pointer; }
      header nav .right.nav-box #btn_login p {
        color: #3264fa;
        text-align: center;
        margin-top: 15px; }
    header nav .right.nav-box #btn_logout {
      width: 111px;
      height: 43px;
      border: #3264fa 1px solid;
      cursor: pointer; }
      header nav .right.nav-box #btn_logout p {
        color: #3264fa;
        text-align: center;
        margin-top: 15px; }

@media (max-width: 800px) {
  header nav {
    display: table;
    clear: both; }
    header nav .button {
      margin-top: 8px; } }
footer {
  width: 100%;
  text-align: center;
  background: #3264fa; }
  footer #social {
    padding-top: 10px; }
    footer #social img {
      margin-right: 5px;
      margin-bottom: 25px; }
  footer #email {
    margin-bottom: 25px; }
    footer #email p {
      width: 210px;
      height: 25px;
      margin: 0 auto;
      padding-left: 55px;
      padding-top: 10px;
      text-decoration: underline;
      background: url("../../img/css/email.png") no-repeat center left;
      color: white; }
  footer ul li {
    display: inline-block;
    color: white;
    margin-right: 30px;
    margin-bottom: 5px; }

@media (max-width: 430px) {
  footer {
    height: auto; } }
h1 {
  font-family: "ABeeZee", sans-serif;
  color: #3264fa;
  font-size: 2em;
  text-align: center; }

nav.profile {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #3264fa; }
  nav.profile ul {
    display: flex;
    padding-top: 10px; }
    nav.profile ul li {
      flex: 1 1 0;
      color: white;
      font-family: "ABeeZee", sans-serif;
      text-align: center;
      border-right: 1px white solid; }
    nav.profile ul li:last-of-type {
      border-right: none; }

@media (max-width: 700px) {
  nav.profile {
    width: 100%;
    height: auto; }
    nav.profile ul {
      display: block; }
      nav.profile ul li {
        width: 98%;
        display: block;
        margin: 0 auto;
        clear: both;
        float: none;
        padding: 15px 0; } }
p, li, ul, h1, h2, h3, h4, h5, h6 {
  font-family: "ABeeZee", sans-serif; }

#login-popup {
  width: 300px;
  padding: 10px;
  background-color: white;
  position: absolute;
  z-index: 999;
  top: 10%;
  left: 50%;
  margin-left: -170px;
  margin-top: 60px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75); }
  #login-popup form .wrap {
    width: 90%;
    margin: 0 auto; }
    #login-popup form .wrap input[type="text"], #login-popup form .wrap input[type="password"] {
      width: 99%;
      height: 43px;
      margin: 5px auto;
      padding-left: 1%;
      border: #3264fa 1px solid; }
    #login-popup form .wrap input[type="checkbox"] {
      -webkit-appearance: checkbox;
      padding-top: 25px;
      border: #3264fa 1px solid; }
    #login-popup form .wrap label {
      padding-left: 10px;
      font-family: "ABeeZee", sans-serif;
      font-size: .87em; }
    #login-popup form .wrap input[type="image"] {
      width: 130px;
      margin: 10px auto; }
  #login-popup p.btn__close {
    text-align: right;
    margin-right: 10px;
    cursor: pointer; }

main .btns {
  width: 100%;
  clear: both;
  float: none; }
  main .btns .btn {
    height: 45px;
    margin: 20px 10px;
    display: inline-block;
    vertical-align: top; }
    main .btns .btn p {
      color: white;
      font-family: "ABeeZee", sans-serif; }
  main .btns #create-new-msg {
    width: 150px;
    background: url("../../img/css/create_msg.png") no-repeat left center;
    background-color: #3264fa; }
    main .btns #create-new-msg p {
      padding-left: 65px;
      padding-top: 4px;
      font-weight: bold;
      font-size: .87em; }
  main .btns #reply {
    width: 150px;
    background: url("../../img/css/create_msg.png") no-repeat left center;
    background-color: #3264fa; }
    main .btns #reply p {
      padding-left: 65px;
      padding-top: 10px;
      font-weight: bold;
      font-size: .87em; }
  main .btns #back-to-msgs {
    width: 100px;
    background-color: #3264fa;
    cursor: pointer; }
    main .btns #back-to-msgs p {
      padding-top: 10px;
      font-weight: bold;
      font-size: .87em;
      text-align: center; }
  main .btns #mark-unread {
    width: 100px;
    background-color: #3264fa;
    cursor: pointer; }
    main .btns #mark-unread p {
      padding-top: 10px;
      font-weight: bold;
      font-size: .87em;
      text-align: center; }

.page-nums {
  width: 70%;
  margin: 0 auto;
  clear: both;
  float: none;
  margin-top: 10px; }
  .page-nums div {
    width: 45px;
    height: 35px;
    margin: 3px 10px;
    display: inline-block;
    border-radius: 10px;
    background-color: gray;
    cursor: pointer; }
    .page-nums div p {
      padding-top: 10px;
      text-align: center;
      font-size: .76em;
      font-weight: bold;
      color: white; }
  .page-nums div.current {
    background-color: #3264fa; }

article {
  width: 80%;
  margin: 0 auto;
  font-family: "ABeeZee", sans-serif; }
  article div.msgs-item {
    width: 100%;
    background-color: lightyellow;
    padding: 10px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    font-weight: bold; }
    article div.msgs-item .msg-from {
      padding: 3px;
      background-color: white;
      width: 40%; }
    article div.msgs-item .msg-body {
      padding-top: 5px; }
  article div.msgs-item.read {
    background-color: lightgray;
    font-weight: normal; }
  article div.msgs-item:hover {
    background-color: lightgoldenrodyellow; }
  article div.msgs-item.read:hover {
    background-color: lightblue; }

article {
  width: 80%;
  margin: 0 auto;
  font-family: "ABeeZee", sans-serif; }
  article #current-msg {
    border: lightgray 1px solid;
    padding: 25px; }
    article #current-msg b {
      font-weight: bold; }
    article #current-msg i {
      font-style: italic; }

@media (max-width: 500px) {
  article {
    -ms-word-break: break-all;
    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; } }

/*# sourceMappingURL=my-uin-msgs.scss.map */
