/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CUSTOM */
input:required {
  box-shadow: none; }

input:invalid {
  box-shadow: none; }

a.nostyle {
  text-decoration: none;
  color: inherit; }

a.nocolor {
  color: inherit; }

a.nounderline {
  text-decoration: none; }

a.internal {
  border-bottom: 1px dashed;
  text-decoration: none;
  color: #000066;
  cursor: pointer; }

html, body {
  height: 100%; }

#wrapper {
  width: 100%;
  min-height: 100%; }

#push-footer {
  height: 120px; }

footer {
  width: 100%;
  height: 120px;
  margin-top: -120px;
  clear: both;
  float: none; }

p, li, ul, h1, h2, h3, h4, h5, h6 {
  font-family: "ABeeZee", sans-serif; }

header nav {
  width: 100%;
  height: 47px;
  padding-top: 18px; }
  header nav .button {
    float: left; }
  header nav .left.nav-box {
    width: 75px;
    float: left; }
    header nav .left.nav-box #btn_home {
      width: 35px;
      height: 35px;
      background: url("../../img/css/home-bg.png") no-repeat center center;
      background-color: #3264fa;
      padding: 5px;
      margin-left: 28px; }
  header nav .updates-wrap.nav-box {
    width: 100px;
    float: right; }
    header nav .updates-wrap.nav-box #ico_new-notofications {
      width: 45px;
      height: 35px;
      background: url("../../img/css/notifications-off.png") no-repeat 5px center;
      display: inline-block;
      margin-top: 10px; }
    header nav .updates-wrap.nav-box #ico_new-mail {
      width: 45px;
      height: 35px;
      background: url("../../img/css/mail-off.png") no-repeat 5px center;
      display: inline-block;
      margin-top: 10px; }
    header nav .updates-wrap.nav-box p {
      width: 70%;
      padding: 2px;
      background-color: #fb7b4e;
      font-family: "ABeeZee", sans-serif;
      font-size: .76em;
      border-radius: 5px;
      text-align: right;
      font-weight: bold; }
    header nav .updates-wrap.nav-box p.none {
      background-color: lightgray; }
  header nav .right.nav-box {
    width: 280px;
    float: right; }
    header nav .right.nav-box #btn_signup {
      width: 113px;
      height: 45px;
      background-color: #3264fa;
      margin-right: 10px; }
      header nav .right.nav-box #btn_signup p {
        color: white;
        text-align: center;
        margin-top: 15px; }
    header nav .right.nav-box #btn_myuin {
      width: 113px;
      height: 45px;
      margin-right: 10px;
      background: url("../../img/css/myuin.png") no-repeat 5px center;
      background-color: #3264fa; }
      header nav .right.nav-box #btn_myuin p {
        color: white;
        text-align: center;
        margin-top: 15px; }
    header nav .right.nav-box #btn_login {
      width: 111px;
      height: 43px;
      border: #3264fa 1px solid;
      cursor: pointer; }
      header nav .right.nav-box #btn_login p {
        color: #3264fa;
        text-align: center;
        margin-top: 15px; }
    header nav .right.nav-box #btn_logout {
      width: 111px;
      height: 43px;
      border: #3264fa 1px solid;
      cursor: pointer; }
      header nav .right.nav-box #btn_logout p {
        color: #3264fa;
        text-align: center;
        margin-top: 15px; }

@media (max-width: 800px) {
  header nav {
    display: table;
    clear: both; }
    header nav .button {
      margin-top: 8px; } }
footer {
  width: 100%;
  text-align: center;
  background: #3264fa; }
  footer #social {
    padding-top: 10px; }
    footer #social img {
      margin-right: 5px;
      margin-bottom: 25px; }
  footer #email {
    margin-bottom: 25px; }
    footer #email p {
      width: 210px;
      height: 25px;
      margin: 0 auto;
      padding-left: 55px;
      padding-top: 10px;
      text-decoration: underline;
      background: url("../../img/css/email.png") no-repeat center left;
      color: white; }
  footer ul li {
    display: inline-block;
    color: white;
    margin-right: 30px;
    margin-bottom: 5px; }

@media (max-width: 430px) {
  footer {
    height: auto; } }
h1 {
  font-family: "ABeeZee", sans-serif;
  color: #3264fa;
  font-size: 2em;
  text-align: center; }

nav.profile {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #3264fa; }
  nav.profile ul {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding-top: 10px; }
    nav.profile ul li {
      flex: 1 1 0;
      color: white;
      font-family: "ABeeZee", sans-serif;
      text-align: center;
      border-right: 1px white solid; }
    nav.profile ul li:last-of-type {
      border-right: none; }

@media (max-width: 700px) {
  nav.profile {
    width: 100%;
    height: auto; }
    nav.profile ul {
      display: block; }
      nav.profile ul li {
        width: 98%;
        display: block;
        margin: 0 auto;
        clear: both;
        float: none;
        padding: 15px 0; } }
p, li, ul, h1, h2, h3, h4, h5, h6 {
  font-family: "ABeeZee", sans-serif; }

#login-popup {
  width: 300px;
  padding: 10px;
  background-color: white;
  position: absolute;
  z-index: 999;
  top: 10%;
  left: 50%;
  margin-left: -170px;
  margin-top: 60px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75); }
  #login-popup form .wrap {
    width: 90%;
    margin: 0 auto; }
    #login-popup form .wrap input[type="text"], #login-popup form .wrap input[type="password"] {
      width: 99%;
      height: 43px;
      margin: 5px auto;
      padding-left: 1%;
      border: #3264fa 1px solid; }
    #login-popup form .wrap input[type="checkbox"] {
      -webkit-appearance: checkbox;
      padding-top: 25px;
      border: #3264fa 1px solid; }
    #login-popup form .wrap label {
      padding-left: 10px;
      font-family: "ABeeZee", sans-serif;
      font-size: .87em; }
    #login-popup form .wrap input[type="image"] {
      width: 130px;
      margin: 10px auto; }
  #login-popup p.btn__close {
    text-align: right;
    margin-right: 10px;
    cursor: pointer; }

@media (max-width: 370px) {
  #login-popup {
    width: 260px;
    padding: 10px;
    position: absolute;
    z-index: 999;
    top: 10%;
    left: 0;
    margin-left: 0;
    margin-top: 60px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75); }
    #login-popup form .wrap {
      width: 90%;
      margin: 0 auto; }
      #login-popup form .wrap input[type="text"], #login-popup form .wrap input[type="password"] {
        width: 99%;
        height: 43px;
        margin: 5px auto;
        padding-left: 1%;
        border: #3264fa 1px solid; }
      #login-popup form .wrap input[type="checkbox"] {
        -webkit-appearance: checkbox;
        padding-top: 25px;
        border: #3264fa 1px solid; }
      #login-popup form .wrap label {
        padding-left: 10px;
        font-family: "ABeeZee", sans-serif;
        font-size: .87em; }
      #login-popup form .wrap input[type="image"] {
        width: 130px;
        margin: 10px auto; }
    #login-popup p.btn__close {
      text-align: right;
      margin-right: 10px;
      cursor: pointer; } }
.btn {
  width: 100px;
  background-color: #3264fa;
  cursor: pointer;
  height: 45px;
  margin: 20px 10px;
  display: inline-block;
  vertical-align: top; }
  .btn p {
    color: white;
    font-family: "ABeeZee", sans-serif;
    padding-top: 10px;
    font-weight: bold;
    font-size: .87em;
    text-align: center; }

#personal_form {
  width: 100%;
  margin-top: 7px; }
  #personal_form form .wrap {
    width: 240px;
    display: inline-block;
    padding: 10px;
    vertical-align: top; }
  #personal_form form .wrap.btns {
    display: block;
    clear: both;
    float: none;
    margin: 0 auto; }
  #personal_form form input[type="text"], #personal_form form input[type="email"], #personal_form form input[type="password"] {
    width: 214px;
    height: 30px;
    border: 1px solid #3264fa;
    margin: 5px 0 15px;
    padding: 0 3px; }
  #personal_form form label {
    font-family: "ABeeZee", sans-serif;
    color: #3264fa;
    font-size: .76em;
    font-style: italic;
    font-weight: bold; }
  #personal_form form .intl-tel-input input, #personal_form form .intl-tel-input input[type="text"], #personal_form form .intl-tel-input input[type="tel"] {
    margin: 10px 0 !important;
    padding-left: 48px; }

/*# sourceMappingURL=my-uin.scss.map */
