<h3>I would like to...</h3> 
<section>
    <h1>Media</h1>
    <ul>       
        <li><a href="{{link.admin_pictures_manager.href}}">Pictures Manager</a></li>
        <li><a href="{{link.admin_edit_gallery.href}}">Edit Gallery</a></li>
    </ul>
</section>
<section>
    <h1>Articles</h1>
    <ul>       
        <li><a href="{{link.admin_edit_articles.href}}">Edit Articles</a></li>
    </ul>
</section>
<section>
    <h1>F.A.Q.</h1>
    <ul>       
        <li><a href="{{link.admin_edit_faqs.href}}">Edit F.A.Q.</a></li>
    </ul>
</section>
