<footer>
    <div class="credits">
            <img src="{{img.CWDlogo.src}}" alt="{{img.compass_web_design_logo.alt}}" />
            <p>Administration Panel<br/>
                by <a class="nocolor" href="{{link.compass_web_design.href}}" target="_blank">Compass Web Design Ltd.</a></p>
    </div>
</footer>