<header>
    <div id="logo" clickable>        
        <p><a href="{{link.admin__home.href}}" class="nostyle">CWD&numsp;<span>Admin</span></a></p>
    </div>
    <div id="version">
        <p>ver. 3.0.0</p>
    </div>
</header>
<nav class="top">
    <div id="open-website">
        <p><a href="{{constant('LINKS_PRE')}}" class="nostyle" target="_blank"/>View web site</a></p>
    </div>
    <div id="user">
        <div class="profile">
            
        </div>
        <div class="logout" clickable>
            <p><a class="nostyle" href="{{link.admin__logout.href}}">Logout</a></p>
        </div>
    </div>
</nav>